<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- added the defaultHref="/login" that’s to make sure that even if the user reloads that page the
      back button shows up and redirects the user to the login screen. -->
      <ion-back-button defaultHref="/login" class="green"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset your password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="welcome-page">
    <div class="welcome-inner">

      <!-- start of fun message -->
      <div class="welcome-subtitle">
        Don't worry, it happens to all of us :)
      </div>
      <div class="welcome-text">
        Just type your email here and we will send you a link to reset your password.
      </div>
      <!-- end of fun message -->

      <div class="welcome-form">
        <!-- start of form resetPasswordForm -->
        <form [formGroup]="resetPasswordForm">
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!resetPasswordForm.controls['email'].valid &&
              resetPasswordForm.controls['email'].touched">
            </ion-input>
          </ion-item>
          <ion-item class="error-message" *ngIf="!resetPasswordForm.controls['email'].valid &&
            resetPasswordForm.controls['email'].touched">
            <ion-label>Please enter a valid email.</ion-label>
          </ion-item>

          <ion-button expand="block" (click)="resetPassword(resetPasswordForm)" [disabled]="!resetPasswordForm.valid"
            class="green">
            Reset
          </ion-button>
        </form>
        <!-- end of form resetPasswordForm -->
      </div>
    </div>
  </div>
</ion-content>