<ion-content>
  <div class="welcome-page">
    <div class="welcome-inner">

      <!-- start of top content -->
      <div class="welcome-picture">
        <ion-img src="assets/img/welcome.jpg"></ion-img>
      </div>
      <div class="welcome-title">
        My to-do
      </div>
      <div class="welcome-subtitle">
        Manage your time
      </div>
      <!-- end of top content -->

      <!-- start of bottom buttons -->
      <div class="welcome-button">
        <ion-button routerLink="/signup" expand="block" class="green">Create an account</ion-button>
      </div>
      <div class="welcome-login">
        <ion-button routerLink="/login" expand="block" class="blue">Login</ion-button>
      </div>
      <!-- end of bottom buttons -->

    </div>
  </div>
</ion-content>