.welcome-page {
    .welcome-inner {
        .welcome-slogan {
            margin-top: 20px;
            font-size: 36px;
            text-align: center;
            font-weight: bold;
        }

        .welcome-button {
            margin-top: 20px;
        }
    }
}