<ion-header>
  <ion-toolbar class="green">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/setting"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="gray">
  <ion-list>
    <ion-list-header> Your details </ion-list-header>

    <!-- start of name -->
    <ion-item (click)="updateName()">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <ion-icon name="person"></ion-icon>
            </ion-col>
            <ion-col size="5">Name</ion-col>
            <ion-col size="6" class="text-right" *ngIf="userProfile?.firstName || userProfile?.lastName">
              <!-- The question mark used in the main object userProfile?.firstName
is called the Elvis operator, it tells the template first to make sure the object is there
before accessing or trying to access any of its properties -->
              {{userProfile?.firstName}} {{userProfile?.lastName}}
            </ion-col>
            <ion-col size="6" class="placeholder-gray text-right" *ngIf="!userProfile?.firstName">
              <span>Tap here to edit</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <!-- end of name -->

    <!-- start of DOB -->
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <ion-icon name="calendar"></ion-icon>
            </ion-col>
            <ion-col size="5">DOB</ion-col>
            <ion-col size="6" class="text-right">
              <ion-datetime displayFormat="MMM D, YYYY" pickerFormat="D MMM YYYY" [(ngModel)]="birthDate"
                (ionChange)="updateDOB(birthDate)" placeholder="Tap here to edit" no-padding></ion-datetime>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <!-- end of DOB -->

    <!-- start of email -->
    <ion-item (click)="updateEmail()">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <ion-icon name="mail"></ion-icon>
            </ion-col>
            <ion-col size="5">Email</ion-col>
            <ion-col size="6" class="text-right" *ngIf="userProfile?.email">
              {{userProfile?.email}}
            </ion-col>
            <ion-col size="6" class="text-right" class="placeholder-gray" *ngIf="!userProfile?.email">
              <span>Tap here to edit</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <!-- end of email -->

    <!-- start of password -->
    <ion-item (click)="updatePassword()">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <ion-icon name="key"></ion-icon>
            </ion-col>
            <ion-col size="5">Password</ion-col>
            <ion-col size="6" class="placeholder-gray text-right">
              <span>Tap here to edit</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <!-- end of password -->

  </ion-list>
</ion-content>