<ion-header>
  <ion-toolbar class="green">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/setting"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="gray">

  <!-- start of app info -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ver 0.9.0</ion-card-subtitle>
      <ion-card-title>My to-do</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A simple and convenient to-do list app.
    </ion-card-content>
  </ion-card>
  <!-- end of app info -->

  <!-- start of support info -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Support</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      If you need any support or have any feedback when using this app, please feel free to contact us.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-chip>
        <ion-avatar>
          <img src="assets/img/tobias.jpg">
        </ion-avatar>
        <ion-label>Tobias (Tuan)</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-chip outline color="success">
        <ion-icon name="mail"></ion-icon>
        <ion-label>hatuan@myvuw.ac.nz</ion-label>
      </ion-chip>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-chip>
        <ion-avatar>
          <img src="assets/img/andrew.jpg">
        </ion-avatar>
        <ion-label>Andrew (Lutian)</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item>
      <ion-chip outline color="success">
        <ion-icon name="mail"></ion-icon>
        <ion-label>sunluti@myvuw.ac.nz</ion-label>
      </ion-chip>
    </ion-item>
  </ion-card>
  <!-- end of support info -->

</ion-content>